@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-header.active > div {
  background-color: #060f7c;
}

.nav-header.active > div > * {
  color: white;
}

.ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 640px) {
  .ellipsis-3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.accordion-content {
  height: 0px;
  overflow: hidden;
}
